<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpeechClient.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SpeechClient.Settings1>
            <setting name="VoiceGender" serializeAs="String">
                <value>female</value>
            </setting>
            <setting name="VoiceRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ServiceUrl" serializeAs="String">
                <value>https://speechservice1.azurewebsites.net/api/speech/speechmessage/</value>
            </setting>
        </SpeechClient.Settings1>
    </userSettings>
</configuration>
